@import "tailwindcss";
@import "@trash-kit/ui/styles.css";

@source "../node_modules/@trash-kit/ui";

@theme {
  --color-accent-50: oklch(0.969 0.015 12.422);
  --color-accent-100: oklch(0.941 0.03 12.58);
  --color-accent-200: oklch(0.892 0.058 10.001);
  --color-accent-300: oklch(0.81 0.117 11.638);
  --color-accent-400: oklch(0.712 0.194 13.428);
  --color-accent-500: oklch(0.645 0.246 16.439);
  --color-accent-600: oklch(0.586 0.253 17.585);
  --color-accent-700: oklch(0.514 0.222 16.935);
  --color-accent-800: oklch(0.455 0.188 13.697);
  --color-accent-900: oklch(0.41 0.159 10.272);
  --color-accent-950: oklch(0.271 0.105 12.094);

  --color-gray-50: oklch(0.97 0.001 295);
  --color-gray-100: oklch(0.97 0.010 295);
  --color-gray-200: oklch(0.85 0.001 295);
  --color-gray-300: oklch(0.80 0.001 295);
  --color-gray-400: oklch(0.7 0.001 295);
  --color-gray-500: oklch(0.5 0.001 295);
  --color-gray-600: oklch(0.4 0.02 295);
  --color-gray-680: oklch(0.35 0.0200 295);
  --color-gray-690: oklch(0.25 0.0200 295);
  --color-gray-700: oklch(0.20 0.0200 295);
  --color-gray-800: oklch(0.17 0.0200 295);
  --color-gray-900: oklch(0.13 0.0200 295);
}

* {
  font-family: var(--font-main), system-ui, sans-serif;

  @apply selection:bg-accent-300/90 selection:text-black/90;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  @apply bg-surface-primary text-primary;
}

.h-screen_ {
  height: calc(100svh - 4rem);
}

.min-h-screen_ {
  min-height: calc(100svh - 4rem);
}
